:root {
  --text-color: #fff;
  --text-black-color: #000;
  --body-background: #f9f9f9;
  --background-color: #ebebeb;
  --text-hover-color: #fdb713;
  --background-color-header-dropdown: rgba(194, 194, 194, 0.5);
  --background-content-color: #333;
  --overlay-color: rgba(0, 0, 0, 0.3);
  --company-section: rgba(0, 0, 0, 0.54);
  --backgroud-color-news: #2c2c2c;
  --border-color: rgba(255, 255, 255, 0.5);
  --section-info-background-color: rgb(214, 214, 214);
  --text-title-color: rgb(194, 194, 194);
  --text-error-color: rgb(255, 0, 0);
}
