footer {
  margin-top: auto;
  background-color: var(--background-content-color);
}

.footer_content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  color: var(--text-color);
  padding: 30px 0;
}

.footer_lists:last-child{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid var( --text-hover-color);
  border-radius: 30px;
}

.footer_list_title{
  position: relative;
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 20px;
}

.footer_list_title::after{
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  right: 30px;
  border-top: 2px solid var( --text-hover-color);
}

.mp_footer_li{
  font-size: 16px;
  font-weight: 100;
}

.mp_footer_li:not(:first-child) {
  margin-top: 8px;
}

.mp_footer_li a:hover {
  cursor: pointer;
  color: var(--text-hover-color);
}

.footer_social_icons{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
}

.footer_social_icon{
  width: 50px;
  transition: .1s;
}

.footer_social_icon:hover{
  transform: scale(1.05);
}

.footer_social_icon:hover path:last-child{
  fill: var(--text-hover-color);
}
