<header id="header">
    <div class="container">
        <div class="header_logo_content">
            <div class="header_logo">
                <div>
                    <a href="<%- include('../partials/path'); %>/"><img class="header_logo_img" src="http://localhost:4000/local/images/logo.png" alt="Логотип" title="Головна" /></a>
                </div>
            </div>
            <nav>
                <ul class="nav_links">
                    <li class="mp_nav_li">
                        <p class="mp_nav_link"><a href="<%- include('../partials/path'); %>/rent">Прокат</a></p>
                        <div id="mp_nav_li_dropdown" class="mp_nav_li_dropdown">
                            <ul class="mp_ul_dropdown">
                                <li class="mp_li_dropdown">Пункт</li>
                                <li class="mp_li_dropdown">Пункт</li>
                                <li class="mp_li_dropdown">Пункт</li>
                                <li class="mp_li_dropdown">Пункт</li>
                            </ul>
                        </div>
                    </li>
                    <!-- <li class="mp_nav_li">
                        <p class="mp_nav_link">Послуги</p>
                        <div id="mp_nav_li_dropdown" class="mp_nav_li_dropdown">
                            <ul class="mp_ul_dropdown">
                                <li class="mp_li_dropdown">Пункт 1</li>
                                <li class="mp_li_dropdown">Пункт 2</li>
                                <li class="mp_li_dropdown">Пункт 3</li>
                                <li class="mp_li_dropdown">Пункт 4</li>
                            </ul>
                        </div>
                    </li> -->
                    <li class="mp_nav_li">
                        <p class="mp_nav_link">Про компанію</p>
                    </li>
                    <li><a class="mp_nav_link" href="#">Новини</a></li>
                    <li><a class="mp_nav_link" href="<%- include('../partials/path'); %>/contact">Контакти</a></li>
                </ul>
            </nav>
        </div>
        <div class="header_phone_content">
            <a class="header_phone" href="tel:380123456313">+(380) 123456313</a>
            <button class="header_btn">Зв'язатися з нами</button>
            <button id="hamburger" class="hamburger_navbar" onclick="openCloseSideBar()" aria-label="Main Menu">
                <svg width="43" height="43" viewBox="0 0 100 100">
                    <path class="line line1"
                        d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
                    <path class="line line2" d="M 20,50 H 80" />
                    <path class="line line3"
                        d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
                </svg>
            </button>
        </div>
    </div>
</header>