<aside class="side_bar">
    <div id="side_bar_overlay" class="side_bar_overlay" onclick="openCloseSideBar()"></div>
    <div id="side_bar_content" class="side_bar_content">
        <ul class="side_bar_links">
            <li class="mp_side_bar_li">
                <p class="mp_side_bar_link">Прокат</p>
                <ul class="mp_side_bar_dropdown">
                    <li class="side_bar_li_dropdown">Пункт 1</li>
                    <li class="side_bar_li_dropdown">Пункт 2</li>
                    <li class="side_bar_li_dropdown">Пункт 3</li>
                    <li class="side_bar_li_dropdown">Пункт 4</li>
                </ul>
            </li>
            <li class="mp_side_bar_li">
                <p class="mp_side_bar_link">Послуги</p>
                <ul class="mp_side_bar_dropdown">
                    <li class="side_bar_li_dropdown">Пункт 1</li>
                    <li class="side_bar_li_dropdown">Пункт 2</li>
                    <li class="side_bar_li_dropdown">Пункт 3</li>
                    <li class="side_bar_li_dropdown">Пункт 4</li>
                </ul>
            </li>
            <li class="mp_side_bar_li">
                <p class="mp_side_bar_link">Про компанію</p>
                <ul class="mp_side_bar_dropdown">
                    <li class="side_bar_li_dropdown">Пункт 1</li>
                    <li class="side_bar_li_dropdown">Пункт 2</li>
                    <li class="side_bar_li_dropdown">Пункт 3</li>
                    <li class="side_bar_li_dropdown">Пункт 4</li>
                </ul>
            </li>
            <li><a class="mp_side_bar_link" href="#">Новини</a></li>
            <li><a class="mp_side_bar_link" href="#">Контакти</a></li>
        </ul>
        <button class="side_bar_btn">Зв'язатися з нами</button>
    </div>
</aside>