<!DOCTYPE html>
<html lang="en">

<head>
    <title>Rent</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:4000/css/pages/admin.css">
    <link rel="stylesheet" href="http://localhost:4000/css/partials/toast.css">
    <%- include('../head/defaultHead'); %>
</head>

<body id="body">
    <div class="wrapper">
        <%- include("../partials/toast") %>
            <main class="main_content">
                <form id="form" class="form">
                    <div class="cont-inp">
                        <input type="email" name="email" id="email" placeholder="Input your email (required)">
                    </div>
                    <div class="cont-inp">
                        <input type="password" name="password" id="password"
                            placeholder="Input your password (required)">
                    </div>
                    <button type="submit" class="form-btn">LogIn</button>
                </form>
            </main>
    </div>

    <script type="module" src="http://localhost:4000/js/auth-service.js"></script>
    <script type="module" src="http://localhost:4000/js/log-in.js"></script>
</body>

</html>