<!DOCTYPE html>
<html lang="en">

<head>
    <title>Rent</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:4000/css/pages/rent.css">
    <%- include('../head/defaultHead'); %>
</head>

<body id="body">
    <div class="wrapper">
        <%- include('../partials/navbar'); %>

            <%- include('../partials/sidebar'); %>

                <main class="main_content">
                    <section class="filter_section">
                        <div class="main_container">
                            <p class="filter_section_title">Каталог орендних авто у Львові</p>

                            <div class="filter_content">
                                <button class="filter_btn active" title="all">Всі</button>
                                <button class="filter_btn" title="econom">Эконом</button>
                                <button class="filter_btn" title="average">Середній</button>
                                <button class="filter_btn" title="4x4">Внедорожник</button>
                                <button class="filter_btn" title="bisness">Бізнес</button>
                                <button class="filter_btn" title="miniven">Мінівен</button>
                                <button class="filter_btn" title="VIP">VIP
                                    (преміум)</button>
                            </div>

                            <div class="rent_car_container"></div>

                            <h1 class="not_found_cars_text"></h1>
                        </div>
                    </section>
                </main>

                <%- include('../partials/footer'); %>
    </div>

    <script type="module" src="http://localhost:4000/js/auth-service.js"></script>
    <script type="module" src="http://localhost:4000/js/car-service.js"></script>
    <script src="http://localhost:4000/js/index.js"></script>
    <script type="module" src="http://localhost:4000/js/rent.js"></script>
</body>

</html>