/* ---------------main--------------- */

.hero_section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.paralax_content_image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
}

.paralax_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate3d(0, 0, 0) scale(1.2);
  will-change: transform;
  transition: transform 0.3s cubic-bezier(0, 0, 0, 1) 0s;
}

.paralax_overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--overlay-color);
  z-index: 51;
}

.content_rent {
  color: var(--text-color);
}

.rent_title {
  font-size: 50px;
  font-weight: 700;
}

.rent_sub_title {
  font-size: 20px;
  margin-top: 20px;
}

.rent_button {
  outline: 1px solid var(--text-color);
  position: relative;
  margin-top: 20px;
  padding: 15px;
  font-size: 25px;
  color: var(--text-color);
  letter-spacing: 3px;
  text-transform: uppercase;
  transition: all 0.2s cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;
  user-select: none;
}

.rent_button:before,
.rent_button:after {
  content: "";
  position: absolute;
  transition: inherit;
  z-index: -1;
}

.rent_button:hover {
  outline: none;
  color: var(--background-content-color);
  transition-delay: 0.5s;
}

.rent_button:hover:before {
  transition-delay: 0s;
}

.rent_button:hover:after {
  background: var(--text-color);
  transition-delay: 0.35s;
}

/* From Top */

.from-top:before,
.from-top:after {
  left: 0;
  height: 0;
  width: 100%;
}

.from-top:before {
  bottom: 0;
  border: 1px solid var(--text-color);
  border-top: 0;
  border-bottom: 0;
}

.from-top:after {
  top: 0;
  height: 0;
}

.from-top:hover:before,
.from-top:hover:after {
  height: 100%;
}

.news_article {
  padding: 70px 0;
  background-color: var(--backgroud-color-news);
  color: var(--text-color);
}

.article_title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

.news_content_card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.news_card {
  padding: 5px;
  cursor: pointer;
  position: relative;
  border: none;
  outline: none;
  filter: brightness(0.9);
}

.news_card:hover {
  filter: brightness(1.1);
}

.news_card::after,
.news_card::before {
  content: "";
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 2px solid;
  transition: all 0.4s ease;
  border-radius: 1em;
}

.news_card::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: var(--text-color);
  border-right-color: var(--text-color);
}

.news_card::before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: var(--text-color);
  border-left-color: var(--text-color);
}

.news_card:hover:after,
.news_card:hover:before {
  width: 100%;
  height: 100%;
}

.news_card_image {
  width: 100%;
  max-height: 200px;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  object-fit: cover;
}

.content_title {
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border: 1px solid var(--border-color);
  text-shadow: 0 0 1em rgb(0 0 0 / 50%);
  background: var(--text-color);
}

.news_card_title {
  color: var(--text-black-color);
  padding: 10px;
}

.section_app_company {
  padding: 75px 0;
  background-color: var(--text-color);
}

.section_app_company_title {
  text-align: center;
  color: var(--backgroud-color-news);
  font-size: 28px;
  font-weight: 700;
}

.content_company_card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 40px;
  margin-top: 75px;
}

.company_card {
  padding: 10px 15px;
  box-shadow: none;
  transition: box-shadow 0.3s;
}

.company_card:hover {
  box-shadow: inset 4px 3px 4px 3px var(--background-content-color);
}

.company_card_image {
  width: 100%;
  height: 100px;
  object-fit: contain;
  margin-bottom: 5px;
}

.company_card_title {
  color: var(--text-black-color);
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
}

.company_card_desc {
  color: var(--company-section);
  text-align: center;
  font-size: 14px;
  line-height: 22px;
}

.article_splide_slider {
  padding: 70px 0;
  background-color: var(--text-title-color);
}

.splide_title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
}

.your-class-pagination {
  position: absolute;
  bottom: -18px !important;
}

.your-class-page {
  width: 10px !important;
  height: 10px !important;
  background: var(--background-color) !important;
}

.your-class-page.is-active {
  background: var(--background-content-color) !important;
}

.content_rent_card {
  padding: 20px 0;
}

.section_info {
  padding: 70px 0;
  color: var(--text-black-color);
  background-color: var(--section-info-background-color);
}
